<div class="card z-depth-2">
  <div class="card-content">
    <div class="row valign-wrapper">
      <div class="col s8">
        <span class="card-title"> Citas Registradas </span>

        <div class="input-field">

          <input
            type="text"
            placeholder="Buscar cita..."
            [(ngModel)]="textoBusqueda"
            (input)="buscar()">

        </div>

        <p>
          Total: <strong>{{ citas.length }}</strong>
        </p>
      </div>

      <div class="col s4 right-align">
        <a class="btn blue" (click)="cargarAgenda()">
          <i class="material-icons left">refresh</i>
          Actualizar
        </a>
      </div>
    </div>

    <div class="responsive-table">
      <table class="highlight centered">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Cliente</th>
            <th>Mascota</th>
            <th>Motivo</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
         @for(cita of citasFiltradas; track cita._id) {
            <tr>
              <td>{{ cita.fecha | date:'dd/MM/yyyy' }}</td>
              <td>{{ cita.hora }}</td>
              <td>{{ obtenerNombreCliente(cita.cliente) }}</td>
              <td>{{ obtenerNombreMascota(cita.mascota) }}</td>
              <td>{{ cita.motivo }}</td>
              <td>{{ cita.estado }}</td>

              <td>
                <a class="btn-small blue" (click)="editarCita(cita)">
                  <i class="material-icons">edit</i>
                </a>

                &nbsp;

                <a class="btn-small red" (click)="eliminarCita(cita)">
                  <i class="material-icons">delete</i>
                </a>
              </td>
            </tr>
          }

          @if(citasFiltradas.length===0) {
            <tr>
              <td colspan="7">
                <br />

                <h6>No hay citas registradas.</h6>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>