.card {
    border-radius: 12px;
    max-width: 900px;
    margin: 0 auto;
}

.card-title {
    font-weight: bold;
}

.card-content {
    padding: 30px;
}

.input-field {
    margin-bottom: 8px;
}

.btn {
    margin-top: 15px;
}